$app: '/f/app/' !default;
$admin: '/f/admin/' !default;
$site: '/f/site/' !default;

$container-width:1440px !default;
$container-sm-width: 525px;
$color: #353535 !default;
$section-bg: #ffffff !default;
$red: #AE1C1A !default;
$green: #22B25F !default;
$orange: #F68C00 !default;
$padding: 15px;