@import 'private/base_auth';
@import '../private/plugins/all';
@import '../private/plugins/z-select';

.row-grid {
  @include m(margin-top margin-bottom, -10px);
  >* {
    @include m(padding-top padding-bottom, 10px);
  }
}

.force-4-3 {
  @include force(4,3);
}

.force-flex {
  min-height: 100%;
  padding-top:36.07%;
  width:100%;
  position:relative;
  >* {
    position:absolute;
    top:0;
    left:0;
    right: 0;
    bottom:0;
    width:100%;
    height:100%;
  }
  >img {
    object-fit:cover;
  }
}

html {
  //overflow-y:scroll;
}
.page-breadcrumb-title {
  float: left;
}

.page-breadcrumb-nav {
  float: right;
  .page-breadcrumb-title + & {
    padding-left: 10px;
  }
}
.unstyled-link {
  color:inherit;
  text-decoration: none;
  &:hover, &:focus {
    color:inherit;
    text-decoration: underline;
  }
}
textarea.form-textarea {
  width:100%;
  height:150px;
  resize:vertical;
  min-height: 60px;
  line-height: 1.3;
}
@media (max-width:1024px) {
  .form-control {
    font-size: 16px;
  }

}
a {
  color: #27A9E1;
  &:hover, &:focus {
    color: #198bbe;
  }
}

.sidebar-nav ul .sidebar-item .sidebar-link i.fa {
  font-size:19px;
}

.blacked {
  filter:brightness(0) !important;
}

.icon-btn {
  font-size: 20px;
  &:not(:first-child) {
    margin-left:4px;
  }
  @include newBtn('edit', #c0c000, #cdcd00) {
    @include far(f044);
  }
  @include newBtn('delete', #da542e, #b54120) {
    @include far(f2ed);
  }
  @include newBtn('children', #198bbe, #2255a4) {
    @include fas(f1ae);
  }
  @include newBtn('add', #198bbe, #2255a4) {
    @include fas(f067);
  }
  @include newBtn('content', #198bbe, #2255a4) {
    @include fas(f0ce);
  }
  @include newBtn('gallery', #7460ee, #4c32e9) {
    @include fas(f03e);
  }
  @include newBtn('view', #198bbe, #2255a4) {
    @include fas(f06e);
  }
  @include newBtn('move', #6c757d, #545b62) {
    @include fas(f0b2);
    cursor:move;
  }
  @include newBtn('access', #28b779, #219864) {
    @include fas(f058);
  }
  @include newBtn('deny', #da542e, #b54120) {
    @include fas(f05e);
  }
  @include newBtn('video-gallery', #ff0000, #bb0000) {
    @include fab(f167);
  }
  @include newBtn('translations', #198bbe, #2255a4) {
    @include fas(f1ab);
  }
}
.table-responsive th {
  white-space: nowrap;
}
.table-sortable .ui-sortable-helper {
  background-color: rgba(222, 245, 255, 0.75) !important;
}
//region Labelauty
input.labelauty.custom-labelauty {
  &:not(checked) + label {
    background-color: #eaeaea;
    color: #b3b3b3;
  }
  &:not(:checked):not([disabled]) + label:hover {
    background-color: #e0e0e0;
  }
  &:checked + label {
    background-color: #56ba3e;
    color: #ffffff;
  }
  &:checked:not([disabled]) + label:hover {
    background-color: #22ab00;
  }
}
input.labelauty.labelauty-reverse {
  &:checked + label {
    background-color: #eaeaea;
    color: #b3b3b3;
  }
  &:checked:not([disabled]) + label:hover {
    background-color: #e0e0e0;
    color: #b3b3b3;
  }
  &:not(checked) + label {
    background-color: #56ba3e;
    color: #ffffff;
  }
  &:not(checked):not([disabled]) + label:hover {
    background-color: #22ab00;
    color: #ffffff;
  }
  + label > span.labelauty-unchecked-image {
    background-image: url($app + "labelauty/images/input-checked.png");
  }
  + label > span.labelauty-checked-image {
    background-image: url($app + "labelauty/images/input-unchecked.png");
  }
}
input.labelauty-in-table+label {
  display:inline-block;
  padding:5px;
}
.labelauty + label {
  margin-bottom: 0;
}
.toggle-bottom-input {
  + label + .bottom-input {
    overflow: hidden;
    max-height: 50px;
    @include transition(max-height .2s linear);
  }
  &:not(.on-unchecked):not(:checked), &.on-unchecked:checked {
    & + label + .bottom-input {
      max-height:0 !important;
    }
  }
}
//endregion
.columns-middle td {
  vertical-align: middle;
}

.action {
  font-size: 22px;
  &:not(:first-child) {
    margin-left: 5px;
  }
}

.page-title-back {
  font-size: 15px;
  margin-top: 3px;
}

.little-p {
  padding:5px;
}
.normal-p {
  padding: 20px;
}

.cstm-input {
  padding-top: 7px;
  .col-form-label {
    padding-bottom: 2px;
    padding-top: 0;
  }
}
.bylang-header {
  display:flex;
  align-items:center;
  justify-content: space-between;
  border-bottom: 1px solid #dee2e6;
}
.bylang-title {
  font-size:16px;
  padding-left:10px;
}
.bylang-nav-tabs {
  justify-content: flex-end;
  border-bottom:0;
}
.ck-editor__editable {
  max-height:500px;
}
.save-btn-fixed {
  height:60px;
  >button {
    display: block;
    position: fixed;
    z-index:100;
    border:none;
    outline:none !important;
    bottom: 20px;
    right: 30px;
    @include m(width height, 60px);
    @include border-radius(50%);
    -webkit-appearance: none;
    overflow: hidden;
    background-color: #32bd32;
    @include box-shadow(0 0 5px 0 rgba(0, 0, 0, 0.7));
    color: #ffffff;
    @include m(font-size line-height, 0);
    cursor: pointer;
    opacity: 0.7;
    text-align: center;
    @include transition(opacity .3s ease);
    filter: blur(0);
    &:hover {
      opacity: 1;
    }
    &:before {
      @include far(f0c7, false);
      font-size:28px;
    }
  }
}
.loader {
    display:none;
    z-index:1;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.6);
    &::before {
      $size: 50px;
      content:'';
      display:block;
      position:absolute;
      border: 6px solid #aaaaaa;
      border-top-color: #eeeeee;
      border-radius: 50%;
      @include m(width height, $size);
      @include m(top left, calc(50% - #{$size/2}));
      animation: spin 2s linear infinite;
    }
    &.shown{
      display:block;
    }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.c-title {
  font-size:16px;
  font-weight:normal;
  padding:10px 7px;
  border-bottom:1px solid #e9ecef;
}
.c-body {
  font-size:16px;
  padding:7px 10px;
  .card-body &{
    padding-left:0;
    padding-right:0;
  }
}
.c-file {
  .c-file-label {
    font-weight:normal;
    overflow: hidden;
    white-space: nowrap;
  }
}
.img-responsive {
  max-width:100% !important;
  width:auto !important;
  height:auto !important;
}
.banner-page {
  margin-top:-15px;
}
.banner-block {
  margin-top:15px;
  padding-top:15px;
  border-top:1px solid #707070;
}
.banner-block-title {
  padding-bottom:15px;
  font-size:18px;
  font-weight:bold;
}
.card-title.banner-card-title {
  font-size:16px;
  font-weight:bold;
}
.card-actions {
  font-size:20px;
  >* {
    display:inline-block;
    line-height:1;
  }
}
.move {
  cursor:move;
}
.footer-links {
  min-height:20px;
}
.footer-link {
  margin-top:15px;
  margin-bottom:15px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color:#ffffff;
}
.status-dot {
  display:inline-block;
  font-size:0;
  vertical-align: 1px;
  &:after {
    content:'';
    display:inline-block;
    width:8px;
    height:8px;
    border-radius: 50%;
    background-color: #da542e;
  }
  &.active:after {
    background-color: #28b779;
  }
}
.label-unstyled {
  font-weight: inherit;
  margin: 0;
}
.view-line {
  font-size:14px;
  font-weight:bold;
  & + & {
    margin-top:5px;
  }
}
.view-label {
  font-weight:bold;
}
.dataTables_wrapper .custom-select {
  height:auto !important;
}
.page-item.active .page-link {
  background-color: #27a9e3;
  border-color: #27a9e3;
}
.page-link {
  color: #27a9e3;
}
.page-link:hover {
  color: #27a9e3;
}
#options-box {
  padding:3px;
  border:1px solid #eeeeee;
  margin-top:5px;
}
.option-item {
  display:flex;
  align-items: center;
  justify-content: space-between;
  font-size:15px;
  background-color: #eeeeee;
  padding:2px;
  .icon-btn {
    font-size:16px;
  }
  &:nth-child(even){
    background-color:#ffffff;
  }
}
.option-item-title {
  flex:1;
}
.option-item-buttons {
  margin-left:5px;
}
.options-add-box {
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.options-add-select {
  flex:1;
}
.options-add-buttons {
  margin-left:5px;
}
.link-counter {
  display:inline-block;
  line-height:1;
  margin-left:3px;
  border-radius:50%;
  width: 20px;
  height: 20px;
  padding-top:1px;
  text-align: center;
  background-color: #cc0000;
  color:#ffffff;
  &:before {
    content:'';
    height:100%;
    width:0;
    display:inline-block;
    vertical-align: middle;
  }
}
.gallery-row {
  align-items: center;
}
.gallery-grid {
  position:relative;
  max-width:350px;
  margin:0 auto;
  &:hover {
    .gallery-absolute {
      pointer-events: all;
      opacity: 1;
    }
  }
}
.gallery-image {
  width:100%;
  height:auto;
  min-height: 120px;
  object-fit: cover;
}
.gallery-absolute {
  display:flex;
  align-items:center;
  justify-content: center;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: rgba(0,0,0,0.7);
  opacity:0;
  pointer-events: none;
  @include transition(opacity 0.3s ease);
}
.gallery-item-actions {
  position:absolute;
  top:10px;
  right:10px;
}
a.gallery-item-show {
  line-height:1;
  font-size:40px;
  color:#ffffff;
  @include transition(color 0.3s ease);
  &:hover {
    color:#bbbbbb;
  }
}
a.gallery-item-action {
  line-height:1;
  margin-left:5px;
  color:#ffffff;
  font-size:20px;
  &:not(.gallery-item-move) {
    @include transition(color 0.3s ease);
    &:hover {
      color:#bbbbbb;
    }
  }
  &.gallery-item-move {
    cursor: move;
  }
}
.uploadLine {
  display:flex;
  flex-wrap:wrap;
  .custom-file {
    max-width:300px;
  }
}
@include media(768) {
  .page-breadcrumb-title {
    float: none;
    .page-title {
      text-align: center;
    }
    .page-title-back {
      text-align: center;
      font-size: 18px;
    }
  }
  .page-breadcrumb-nav {
    display: none !important;
    //float:none;
    //.page-breadcrumb-title + & {
    //  padding-left:0;
    //  margin-top:5px;
    //}
    //.breadcrumb {
    //  justify-content:center;
    //}
  }
  .normal-p {
    padding: 10px;
  }
  .bylang-header {
    flex-direction: column;
  }
  .bylang-title {
    padding-left:0;
    &.has-title {
      padding-top:8px;
      padding-bottom:5px;
    }
  }
  .bylang-nav-tabs {
    justify-content: center;
  }
}
@include media(575) {
  .uploadLine {
    flex-direction: column;
    align-items: center;
  }
}